{% extends 'base.html.twig' %}

{% block title %}Hello NotaController!
{% endblock %}

{% block body %}

	<h2>Listado de notas</h2>
        {% include "common/_messages.html.twig" %}

	<table class='table'>
		<thead>
			<tr>
				<th>Id</th>
				<th>Título</th>
				<th>Descripción</th>
				<th>Fecha de modificación</th>
			</tr>
		</thead>
		<tbody>
			{% for nota in notas %}
				<tr>
					<td>
						{{nota.id}}
					</td>

					<td>
						{{nota.titulo}}
					</td>

					<td>
						{{nota.descripcion}}
					</td>

					<td>
						{{nota.FechaModificion|date('Y-m-d')}}
					</td>

				</tr>
                {% else %}
                    <tr>No se han encontrado notas</tr>
			{% endfor %}
		</tbody>

	</table>


{% endblock %}
